<%- model_class = Comic -%>
<div class="container">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @comic.nombre %></dd>
  <dt><strong>Visualización:</strong></dt>
  <dd> <div data-configid="<%= @comic.extension %>" style="width:400px; height:300px;" class="issuuembed col-lg-4"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
</dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              comics_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_comic_path(@comic), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              comic_path(@comic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
